In [ ]:
# conda activate tf_gpu

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import glob
import os
import matplotlib
import importlib
from datapaths import *
import affective_utils as au

%matplotlib inline

In [2]:
labelfile = './CowenKeltnerEmotionalVideos.csv'
labeldf = pd.read_csv(labelfile)

In [3]:
labeldf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2185 entries, 0 to 2184
Columns: 649 entries, Filename to zeal
dtypes: float64(595), int64(53), object(1)
memory usage: 10.8+ MB

In [4]:
labeldf.head()

,Filename,Admiration,Adoration,Aesthetic Appreciation,Amusement,Anger,Anxiety,Awe,Awkwardness,Boredom,...,vitality,vulnerability,warmth,weakness,weariness,wonder,worry,wrath,yearning,zeal
0,0001.mp4,0.000000,0.0,0.083333,0.00000,0.083333,0.083333,0.083333,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.00000,0.0,0.00000,0.0,0.0,0.0
1,0002.mp4,0.000000,0.0,0.000000,0.25000,0.000000,0.000000,0.000000,0.000000,0.083333,...,0.0,0.0,0.0,0.0,0.00000,0.0,0.00000,0.0,0.0,0.0
2,0003.mp4,0.083333,0.0,0.083333,0.66667,0.000000,0.000000,0.000000,0.083333,0.000000,...,0.0,0.0,0.0,0.0,0.00000,0.0,0.00000,0.0,0.0,0.0
3,0004.mp4,0.000000,0.0,0.000000,0.75000,0.000000,0.000000,0.000000,0.083333,0.000000,...,0.0,0.0,0.0,0.0,0.11111,0.0,0.00000,0.0,0.0,0.0
4,0005.mp4,0.000000,0.0,0.000000,0.00000,0.000000,0.333330,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.00000,0.0,0.11111,0.0,0.0,0.0

In [5]:
emocols= labeldf.columns[list(range(0,34))]
affectdimcols= labeldf.columns[list(range(34,48))]
freewordcols=labeldf.columns[list(range(48,648))]

In [6]:
sampletrain= labeldf.head(99).iloc[:89][emocols]
sampletest = labeldf.head(99).iloc[89:][emocols]

In [7]:
sampletrain.tail()

,Filename,Admiration,Adoration,Aesthetic Appreciation,Amusement,Anger,Anxiety,Awe,Awkwardness,Boredom,...,Joy,Nostalgia,Pride,Relief,Romance,Sadness,Satisfaction,Sexual Desire,Surprise,Sympathy
84,0085.mp4,0.11111,0.00000,0.0,0.22222,0.0,0.00000,0.11111,0.0,0.11111,...,0.111110,0.0,0.0,0.00000,0.0,0.00000,0.22222,0.0,0.00000,0.00000
85,0086.mp4,0.00000,0.11111,0.0,0.44444,0.0,0.11111,0.11111,0.0,0.11111,...,0.055556,0.0,0.0,0.11111,0.0,0.00000,0.11111,0.0,0.11111,0.00000
86,0087.mp4,0.00000,0.22222,0.0,0.55556,0.0,0.00000,0.11111,0.0,0.00000,...,0.555560,0.0,0.0,0.00000,0.0,0.00000,0.00000,0.0,0.22222,0.00000
87,0088.mp4,0.11111,0.00000,0.0,0.55556,0.0,0.00000,0.00000,0.0,0.00000,...,0.000000,0.0,0.0,0.00000,0.0,0.00000,0.22222,0.0,0.11111,0.22222
88,0089.mp4,0.00000,0.00000,0.0,0.11111,0.0,0.00000,0.00000,0.0,0.00000,...,0.000000,0.0,0.0,0.00000,0.0,0.22222,0.00000,0.0,0.11111,0.00000

In [8]:
sampletest.tail()

,Filename,Admiration,Adoration,Aesthetic Appreciation,Amusement,Anger,Anxiety,Awe,Awkwardness,Boredom,...,Joy,Nostalgia,Pride,Relief,Romance,Sadness,Satisfaction,Sexual Desire,Surprise,Sympathy
94,0095.mp4,0.0,0.076923,0.0,0.076923,0.076923,0.076923,0.000000,0.00000,0.000000,...,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.076923,0.153850
95,0096.mp4,0.0,0.000000,0.0,0.000000,0.000000,0.538460,0.000000,0.15385,0.076923,...,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000
96,0097.mp4,0.0,0.000000,0.0,0.000000,0.000000,0.615380,0.000000,0.00000,0.000000,...,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.076923
97,0098.mp4,0.0,0.538460,0.0,0.384620,0.076923,0.000000,0.153850,0.00000,0.076923,...,0.076923,0.0,0.0,0.076923,0.0,0.0,0.0,0.0,0.000000,0.000000
98,0099.mp4,0.0,0.000000,0.0,0.307690,0.000000,0.000000,0.076923,0.00000,0.000000,...,0.230770,0.0,0.0,0.076923,0.0,0.0,0.0,0.0,0.230770,0.076923

In [9]:
import cv2     # for capturing videos
import math   # for mathematical operations
import matplotlib.pyplot as plt    # for plotting the images
%matplotlib inline
import pandas as pd

from skimage.transform import resize

from keras.preprocessing import image   # for preprocessing the images
import numpy as np    # for mathematical operations
from keras.utils import np_utils

from sklearn.model_selection import train_test_split
from glob import glob
from tqdm import tqdm

Using TensorFlow backend.
/home/yt/anaconda3/envs/tf_gpu/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/yt/anaconda3/envs/tf_gpu/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/yt/anaconda3/envs/tf_gpu/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/yt/anaconda3/envs/tf_gpu/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/yt/anaconda3/envs/tf_gpu/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/yt/anaconda3/envs/tf_gpu/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
/home/yt/anaconda3/envs/tf_gpu/lib/python3.6/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/yt/anaconda3/envs/tf_gpu/lib/python3.6/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/yt/anaconda3/envs/tf_gpu/lib/python3.6/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/yt/anaconda3/envs/tf_gpu/lib/python3.6/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/yt/anaconda3/envs/tf_gpu/lib/python3.6/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/yt/anaconda3/envs/tf_gpu/lib/python3.6/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [10]:
# open the .txt file which have names of training videos
f = open("traintestsplit/trainlist01.txt", "r")
temp = f.read()
videos = temp.split('\n')

# creating a dataframe having video names
train = pd.DataFrame()
train['video_name'] = videos
train = train[:-1]
train.head()

  video_name
0   0001.mp4
1   0002.mp4
2   0003.mp4
3   0004.mp4
4   0005.mp4

In [11]:
# open the .txt file which have names of test videos
f = open("traintestsplit/testlist01.txt", "r")
temp = f.read()
videos = temp.split('\n')

# creating a dataframe having video names
test = pd.DataFrame()
test['video_name'] = videos
test = test[:-1]
test.head()

  video_name
0   0090.mp4
1   0091.mp4
2   0092.mp4
3   0093.mp4
4   0094.mp4

In [12]:
sampletrainindexed = sampletrain.set_index('Filename')
sampletestindexed = sampletest.set_index('Filename')

In [13]:
sampletrainindexed.values.shape , sampletestindexed.shape

((89, 33), (10, 33))

In [78]:
def extract_images(videoFile):
    cap = cv2.VideoCapture('Videos/'+videoFile) #.split(' ')[0].split('/')[1])   # capturing the video from the given path
    frameRate = cap.get(1) #frame rate
    count = 0
    x=1
    while(cap.isOpened()):
        frameId = cap.get(1) #current frame number
        ret, frame = cap.read()
        if (ret != True):
            break
        '''
        if (frameId % math.floor(frameRate) == 0): 
        '''
        # storing the frames in a new folder named train_1
        filename ='train_1/' + videoFile +"_frame%d.jpg" % count
        count+=1
        cv2.imwrite(filename, frame)
        
    cap.release()
    
    return count

In [124]:
# creating tags for training videos
train_video_tag = []
for i in range(train.shape[0]):
    tag = sampletrainindexed.loc[train['video_name'][i]].idxmax()
    train_video_tag.append(tag)
    
train['tag'] = train_video_tag

# creating tags for test videos
test_video_tag = []
for i in range(test.shape[0]):
    tag = sampletestindexed.loc[test['video_name'][i]].idxmax()
    test_video_tag.append(tag)
    
test['tag'] = test_video_tag

In [125]:
train.head()

  video_name  frame_count        tag
0   0001.mp4           47   Interest
1   0002.mp4           64  Nostalgia
2   0003.mp4          120  Amusement
3   0004.mp4           25  Amusement
4   0005.mp4          151  Confusion

In [80]:
# storing the frames from training videos
train_frames=[]
for i in tqdm(range(train.shape[0])):
    videoFile = train['video_name'][i]
    frame_count = extract_images(videoFile)
    train_frames.append( frame_count)
    print(videoFile+' frames %d' % frame_count)

train['frame_count'] = train_frames

  1%|          | 1/89 [00:00<00:26,  3.33it/s]

0001.mp4 frames 47
0002.mp4 frames 64

  4%|▍         | 4/89 [00:00<00:17,  4.85it/s]

0003.mp4 frames 120
0004.mp4 frames 25

  6%|▌         | 5/89 [00:01<00:27,  3.09it/s]

0005.mp4 frames 151

  7%|▋         | 6/89 [00:01<00:24,  3.42it/s]

0006.mp4 frames 77

  8%|▊         | 7/89 [00:01<00:25,  3.21it/s]

0007.mp4 frames 137

 10%|█         | 9/89 [00:02<00:24,  3.27it/s]

0008.mp4 frames 35
0009.mp4 frames 36

 12%|█▏        | 11/89 [00:02<00:18,  4.32it/s]

0010.mp4 frames 14
0011.mp4 frames 30

 13%|█▎        | 12/89 [00:03<00:23,  3.33it/s]

0012.mp4 frames 41
0013.mp4 frames 36

 16%|█▌        | 14/89 [00:03<00:20,  3.71it/s]

0014.mp4 frames 151

 18%|█▊        | 16/89 [00:04<00:30,  2.39it/s]

0015.mp4 frames 197
0016.mp4 frames 27

 21%|██▏       | 19/89 [00:05<00:24,  2.85it/s]

0017.mp4 frames 125
0018.mp4 frames 78
0019.mp4 frames 30

 24%|██▎       | 21/89 [00:06<00:30,  2.19it/s]

0020.mp4 frames 367
0021.mp4 frames 86

 25%|██▍       | 22/89 [00:09<01:17,  1.15s/it]

0022.mp4 frames 438
0023.mp4 frames 16

 28%|██▊       | 25/89 [00:10<00:45,  1.42it/s]

0024.mp4 frames 377
0025.mp4 frames 46
0026.mp4 frames 10

 30%|███       | 27/89 [00:12<00:45,  1.37it/s]

0027.mp4 frames 332
0028.mp4 frames 17

 34%|███▎      | 30/89 [00:14<00:34,  1.71it/s]

0029.mp4 frames 449
0030.mp4 frames 32

 35%|███▍      | 31/89 [00:14<00:25,  2.24it/s]

0031.mp4 frames 59

 37%|███▋      | 33/89 [00:19<01:15,  1.35s/it]

0032.mp4 frames 451
0033.mp4 frames 84

 39%|███▉      | 35/89 [00:21<00:53,  1.02it/s]

0034.mp4 frames 250
0035.mp4 frames 24
0036.mp4 frames 11

 42%|████▏     | 37/89 [00:21<00:36,  1.42it/s]

0037.mp4 frames 24

 43%|████▎     | 38/89 [00:21<00:29,  1.70it/s]

0038.mp4 frames 150

 44%|████▍     | 39/89 [00:21<00:25,  1.97it/s]

0039.mp4 frames 79

 45%|████▍     | 40/89 [00:22<00:25,  1.90it/s]

0040.mp4 frames 374

 46%|████▌     | 41/89 [00:23<00:30,  1.57it/s]

0041.mp4 frames 150

 47%|████▋     | 42/89 [00:23<00:24,  1.95it/s]

0042.mp4 frames 96

 48%|████▊     | 43/89 [00:23<00:19,  2.32it/s]

0043.mp4 frames 139
0044.mp4 frames 20

 51%|█████     | 45/89 [00:24<00:15,  2.85it/s]

0045.mp4 frames 55

 52%|█████▏    | 46/89 [00:24<00:14,  2.91it/s]

0046.mp4 frames 112

 55%|█████▌    | 49/89 [00:24<00:09,  4.14it/s]

0047.mp4 frames 119
0048.mp4 frames 49
0049.mp4 frames 16

 56%|█████▌    | 50/89 [00:24<00:07,  4.92it/s]

0050.mp4 frames 40

 58%|█████▊    | 52/89 [00:26<00:16,  2.22it/s]

0051.mp4 frames 183
0052.mp4 frames 58

 60%|█████▉    | 53/89 [00:28<00:30,  1.20it/s]

0053.mp4 frames 1044

 61%|██████    | 54/89 [00:28<00:22,  1.55it/s]

0054.mp4 frames 39

 62%|██████▏   | 55/89 [00:28<00:17,  1.90it/s]

0055.mp4 frames 61

 63%|██████▎   | 56/89 [00:29<00:19,  1.66it/s]

0056.mp4 frames 151
0057.mp4 frames 29

 65%|██████▌   | 58/89 [00:29<00:14,  2.11it/s]

0058.mp4 frames 73
0059.mp4 frames 24

 67%|██████▋   | 60/89 [00:30<00:14,  2.05it/s]

0060.mp4 frames 160

 70%|██████▉   | 62/89 [00:31<00:09,  2.73it/s]

0061.mp4 frames 351
0062.mp4 frames 77

 72%|███████▏  | 64/89 [00:33<00:15,  1.66it/s]

0063.mp4 frames 378
0064.mp4 frames 80

 73%|███████▎  | 65/89 [00:33<00:11,  2.10it/s]

0065.mp4 frames 63

 74%|███████▍  | 66/89 [00:34<00:13,  1.68it/s]

0066.mp4 frames 311

 76%|███████▋  | 68/89 [00:35<00:13,  1.61it/s]

0067.mp4 frames 168
0068.mp4 frames 66

 79%|███████▊  | 70/89 [00:36<00:07,  2.49it/s]

0069.mp4 frames 53
0070.mp4 frames 137

 83%|████████▎ | 74/89 [00:36<00:03,  4.41it/s]

0071.mp4 frames 20
0072.mp4 frames 29
0073.mp4 frames 13
0074.mp4 frames 29
0075.mp4 frames 58

 85%|████████▌ | 76/89 [00:37<00:04,  3.00it/s]

0076.mp4 frames 378
0077.mp4 frames 30

 89%|████████▉ | 79/89 [00:38<00:02,  4.62it/s]

0078.mp4 frames 14
0079.mp4 frames 68
0080.mp4 frames 56

 92%|█████████▏| 82/89 [00:39<00:01,  4.21it/s]

0081.mp4 frames 627
0082.mp4 frames 95

 93%|█████████▎| 83/89 [00:39<00:01,  4.29it/s]

0083.mp4 frames 114

 94%|█████████▍| 84/89 [00:39<00:01,  4.27it/s]

0084.mp4 frames 51

 96%|█████████▌| 85/89 [00:39<00:01,  3.48it/s]

0085.mp4 frames 77

 98%|█████████▊| 87/89 [00:40<00:00,  2.94it/s]

0086.mp4 frames 377
0087.mp4 frames 90

 99%|█████████▉| 88/89 [00:40<00:00,  3.63it/s]

0088.mp4 frames 60

100%|██████████| 89/89 [00:41<00:00,  2.15it/s]

0089.mp4 frames 61

In [44]:
train_multiclass = pd.DataFrame()

In [34]:
df0 = pd.DataFrame(sampletrainindexed.loc[train['video_name'][0]].values).transpose()
df1 = pd.DataFrame(sampletrainindexed.loc[train['video_name'][1]].values).transpose()

In [35]:
df0.append(df1)

,0,1,2,3,4,5,6,7,8,9,...,23,24,25,26,27,28,29,30,31,32
0,0.0,0.0,0.083333,0.00,0.083333,0.083333,0.083333,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.16667,0.0,0.00,0.25,0.0
0,0.0,0.0,0.000000,0.25,0.000000,0.000000,0.000000,0.0,0.083333,0.0,...,0.0,0.5,0.0,0.0,0.083333,0.00000,0.0,0.25,0.00,0.0

In [45]:
# getting the names of all the images
images = glob("train_1/*.jpg")
train_image = []
train_class = []
train_multiclass = pd.DataFrame()
for i in tqdm(range(len(images))):
    filename = images[i].split('/')[1]
    # creating the image name
    train_image.append(filename)
    # creating the class of image
    classname= sampletrainindexed.loc[filename.split('_')[0]].idxmax()
    train_class.append(classname)
    # creating multiclass label
    video_label_df = pd.DataFrame(sampletrainindexed.loc[filename.split('_')[0]].values).transpose()
    train_multiclass=train_multiclass.append(video_label_df)
    
# storing the images and their class in a dataframe
train_data = pd.DataFrame()
train_data['image'] = train_image
train_data['class'] = train_class

# converting the dataframe into csv file 
train_data.to_csv('Cowen/train_new.csv',header=True, index=False)
train_multiclass.to_csv('Cowen/train_y.csv',header=True, index=False)

100%|██████████| 11646/11646 [00:13<00:00, 886.93it/s]

In [46]:
train_multiclass

,0,1,2,3,4,5,6,7,8,9,...,23,24,25,26,27,28,29,30,31,32
0,0.0,0.0,0.000000,0.58333,0.000000,0.000000,0.000000,0.16667,0.000000,0.00000,...,0.0,0.0,0.0,0.0,0.0,0.083333,0.00000,0.0,0.25000,0.41667
0,0.3,0.0,0.100000,0.40000,0.000000,0.000000,0.300000,0.10000,0.100000,0.00000,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.20000,0.0,0.10000,0.00000
0,0.3,0.0,0.100000,0.40000,0.000000,0.000000,0.300000,0.10000,0.100000,0.00000,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.20000,0.0,0.10000,0.00000
0,0.0,0.0,0.400000,0.10000,0.000000,0.000000,0.200000,0.00000,0.000000,0.00000,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.00000,0.0,0.10000,0.00000
0,0.0,0.0,0.000000,0.30000,0.000000,0.000000,0.000000,0.10000,0.000000,0.00000,...,0.1,0.0,0.0,0.0,0.0,0.000000,0.00000,0.0,0.10000,0.00000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,0.0,0.0,0.555560,0.11111,0.000000,0.000000,0.000000,0.00000,0.055556,0.22222,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.11111,0.0,0.22222,0.00000
0,0.0,0.0,0.083333,0.00000,0.083333,0.083333,0.083333,0.00000,0.000000,0.00000,...,0.0,0.0,0.0,0.0,0.0,0.166670,0.00000,0.0,0.25000,0.00000
0,0.0,0.0,0.000000,0.30000,0.000000,0.000000,0.000000,0.10000,0.000000,0.00000,...,0.1,0.0,0.0,0.0,0.0,0.000000,0.00000,0.0,0.10000,0.00000
0,0.0,0.0,0.555560,0.11111,0.000000,0.000000,0.000000,0.00000,0.055556,0.22222,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.11111,0.0,0.22222,0.00000
0,0.0,0.0,0.555560,0.11111,0.000000,0.000000,0.000000,0.00000,0.055556,0.22222,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.11111,0.0,0.22222,0.00000

In [43]:
train_data

                       image                   class
0       0027.mp4_frame72.jpg               Amusement
1      0032.mp4_frame190.jpg               Amusement
2      0032.mp4_frame397.jpg               Amusement
3       0042.mp4_frame64.jpg  Aesthetic Appreciation
4      0053.mp4_frame729.jpg                 Disgust
...                      ...                     ...
11641  0061.mp4_frame120.jpg  Aesthetic Appreciation
11642   0001.mp4_frame21.jpg                Interest
11643  0053.mp4_frame156.jpg                 Disgust
11644   0061.mp4_frame48.jpg  Aesthetic Appreciation
11645  0061.mp4_frame168.jpg  Aesthetic Appreciation

[11646 rows x 2 columns]